.git
.gitignore

.idea
.vscode
*.iml

.DS_Store
Thumbs.db

.gradle/
**/build/
build/
out/
target/
gradle-build-cache/

!gradle/wrapper/gradle-wrapper.jar

logs/
*.log
*.tmp
*.swp

node_modules/
dist/

**/*.md
*.local.yml
.env
.env.*
